<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<!-- configuration : 마이바티스 설정과 관련된 기본 셋팅들을 선언할수 있는 영역
					 내부에 작성하는 엘리먼트들의 순서가 중요
-->

<configuration>
	<!-- 만약에 Null 로 데이터 들어오면 빈칸이아니고 null 로 인식 하도록 설정 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<!-- VO/DTO 객체의 풀네임을 일반 클래스명으로 사용하기위해 별칭선언 -->
	<typeAliases>
		<typeAlias type="com.kh.mybatis.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.mybatis.board.model.vo.Board" alias="Board"/>
	</typeAliases>

	<!-- DB 연결 설정 -->
	 <environments default="development">
	    <environment id="development">
	      <transactionManager type="JDBC"/>
	      <dataSource type="POOLED">
	        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
	        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
	        <property name="username" value="mybatis"/>
	        <property name="password" value="mybatis"/>
	      </dataSource>
	    </environment>
	  </environments>


	<!-- DB에 사용되는 쿼리문을 담은 mapper 파일을 등록 -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		
	</mappers>


</configuration>
