<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">  
	
	<resultMap type="Board" id="boardResultMap">
	  	<id property="boardNo" column="BOARD_NO" />
	  	<id property="boardTitle" column="BOARD_TITLE" />
	  	<id property="boardWriter" column="USER_ID" />
	  	<id property="count" column="COUNT" />
	  	<id property="createDate" column="CREATE_DATE" />

	</resultMap>



  <select id = "getListCount" resultType="_int">
		  
		  SELECT 
		  COUNT(*)
		  FROM BOARD
		  WHERE STATUS = 'Y'
  
  </select>
  
  
  <select id="selectList" resultMap = "boardResultMap">
  
 		SELECT BOARD_NO, BOARD_TITLE, USER_ID, COUNT, CREATE_DATE
		FROM BOARD B
		JOIN MEMBER ON(BOARD_WRITER=USER_NO)
		WHERE B.STATUS='Y'
		ORDER BY BOARD_NO DESC
  
  </select>
  
  <select id="getListCountCon" parameterType="SearchCondition" resultType = "_int">
  
 	  SELECT 
	  COUNT(*)
	  FROM BOARD B
	  JOIN MEMBER ON(BOARD_WRITER=USER_NO)
	  WHERE B.STATUS ='Y'
	  <if test="writer != null">
	  	AND USER_ID LIKE '%' || #{writer} || '%'
	  </if>
	  <if test="title != null">
	  	AND BOARD_TITLE LIKE '%' || #{title} || '%'
	  </if>
	  <if test="content != null">
	  	AND BOARD_CONTENT LIKE '%' || #{content} || '%'
	  </if>
  </select>
  
  <select id="selectListCon" parameterType="SearchCondition" resultMap = "boardResultMap">
	  
	  SELECT BOARD_NO, BOARD_TITLE, USER_ID, COUNT, CREATE_DATE
	  FROM BOARD B
	  JOIN MEMBER ON(BOARD_WRITER=USER_NO)
	 <!-- WHERE  --> 
	  
<!-- 	  <choose>
	  		<when test="writer != null">
	  			  	AND USER_ID LIKE '%' || #{writer} || '%'
	  		
	  		</when>
	  		<when test="title != null">
	  			  	AND BOARD_TITLE LIKE '%' || #{title} || '%'
	  		
	  		</when>
	  		<otherwise>
	  			  	AND BOARD_CONTENT LIKE '%' || #{content} || '%'
	  		</otherwise>
	  </choose> -->
 
 	<trim prefix="WHERE" prefixOverrides="AND">
 		<if test="writer != null">
	  			  	AND USER_ID LIKE '%' || #{writer} || '%'
 		</if>
 		<if test="title != null">
	  			  	AND BOARD_TITLE LIKE '%' || #{title} || '%'
 		</if>
 		<if test="content != null">
	  			  	AND BOARD_CONTENT LIKE '%' || #{content} || '%'
 		</if>
 	</trim>
 		AND B.STATUS ='Y'
   		ORDER BY BOARD_NO DESC
 
 
  </select>
  
  <update id = "countUp" parameterType="_int">
  
  UPDATE BOARD SET COUNT = COUNT+1 WHERE BOARD_NO = #{bno} 
  </update>
  
  
  <select id = "selectBoard" parameterType="_int" resultMap="boardResultMap">
  
 	SELECT BOARD_NO, BOARD_TITLE, USER_ID, COUNT, CREATE_DATE FROM BOARD B
 	JOIN MEMBER ON(BOARD_WRITER=USER_NO)	
 	WHERE BOARD_NO = #{bno}
 	AND B.STATUS = 'Y'
  
  </select>
  
  
</mapper>
